<h1>Conversation Page</h1>

<%= link_to "New Conversation", new_message_path %>
<br/> <br/>
<div class="booyah-box col-sm-8 col-sm-offset-2">
  <% @conversations.each do |conversation| %>
     <div class= "row">
      <%= link_to conversation.label(current_user.id), conversation %>
    </div>
   <br/>
  <% end %>
 </div>